

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(123,170,204);
  background: radial-gradient(circle, rgba(123,170,204,1) 0%, rgba(31,29,46,1) 100%);
    font-family: 'Intel';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .about{
    background: radial-gradient(circle, rgba(123,170,204,1) 0%, rgba(31,29,46,1) 100%);
  }
}